<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="admin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%-include('navbar')-%>
    <main class="main-wrap">
        <%-include('header')-%>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%=order.orders[0].date%></b>
                            </span> <br>
                            <!-- <small class="text-muted">Order ID: 3453012</small> -->
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <select id="statusChange" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                                <option value="" disabled selected>Change status</option>
                                <!-- <option>Awaiting payment</option> -->
                                <!-- <option>Out for delivery</option> -->
                                <option value="shipped">Shipped</option>
                                <option value="delivered">Delivered</option>
                            </select>
                            <a class="btn btn-primary" onclick="changeStatus(document.getElementById('statusChange').value,'<%=order.orders[0]._id%>')">Save</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%=order.user_id.first_name%> <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> 
                                        <br> <%=order.user_id.email_id%>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Total Value: <%=order.orders[0].total_amount/100 %> <br> Coupon Type: <%=order.orders[0].coupon_type%>  <br> Coupon Amount: <%=order.orders[0].coupon_amount%>
                                    </p>
                                    <!-- <a href="#">Download info</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        <% for(i=0;i<addresss.address.length;i++) { %>
                                            <% if(addresss.address[i]._id.toString() === order.orders[0].address.toString()) { %>
                                                <%=addresss.address[i].name%><br><%=addresss.address[i].full_address%> <br> City: <%=addresss.address[i].state%><br>PIN: <%=addresss.address[i].pin_code%><br>No: <%=addresss.address[i].mobile_no%>
                                          <% } %>
                                        <% } %>
                                    </p>
                                    <!-- <a href="#">View profile</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="15%">Unit Price</th>
                                            <th width="10%">Quantity</th>
                                            <th width="25%">Status</th>
                                            <th width="10%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                       <%for(i=0;i<order.orders[0].products.length;i++) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="/admin/imgs/items/3.jpg" width="40" height="40" class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"><%= order.orders[0].products[i].product_id.product_brand_name %>  <%= order.orders[0].products[i].product_id.product_name %> </div>
                                                </a>
                                            </td>
                                            <td> ₹<%= order.orders[0].products[i].product_id.price %> </td>
                                            <td> <%= order.orders[0].products[i].quantity %> </td>
                                            <td> <%= order.orders[0].products[i].status %> </td>
                                            <td class="text-end"> ₹<%- order.orders[0].products[i].product_id.price * order.orders[0].products[i].quantity %> </td>
                                        </tr>
                                        <%}%>
                                        
                                        <!-- <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>$973.35</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>$10.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">$983.00</b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="" class="border" height="20"> <%=order.orders[0].payment_method%> <br>
                                    <!-- Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52 -->
                                </p>
                            </div>
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="admin/js/vendors/select2.min.js"></script>
    <script src="admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="admin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="admin/js/main.js" type="text/javascript"></script>
</body>

<script>
    const changeStatus = async(status,id)=>{
        console.log(status,id)
        if(status === "") {
            alertMsg("Please Select one Option")
            return
        }
        const response = await fetch('/orders/change-status',{ method: 'POST',headers: {'Content-Type':'application/json'} ,body:JSON.stringify({status:status,id:id}) });
        const resBody = await response.json();
        // window.location.replace("/account/orders");
        alertMsg(resBody.popUp);

        function alertMsg(msg) {
        Swal.fire({
            icon: 'success',
            title: msg,
            showConfirmButton: false,
            timer: 1500
        })
    }
    }
</script>
<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>