<body class="container-fluid">
    <%-include('header')-%>
    <div class="row">
        <div class="col-2">
            <%-include('navbar')-%>
        </div>
        <div class="col-10">
                <a href="/products/add-new"><button type="button" class="btn btn-primary m-3">add new product</button></a>
                <h1>products</h1>
                <% for(i=0;i<data.length;i++) { %>
                    <div class="card mt-3">
                        <h5 class="card-header"><%= data[i].product_name%></h5>
                        <div class="card-body row">
                            <div class="col-2">
                                <img style="max-height: 100px;" class="img-fluid" src="/uploads/<%= data[i].product_image[0] %>" alt="">
                            </div>
                            <div class="col-8">
                                <h5 class="card-title">Category - <%= data[i].category%></h5>
                                <p class="card-text">Stock - <%= data[i].stock%></p>
                            </div>
                            <div class="col-2">
                                <form>
                                    <div class="form-check form-switch">
                                        <% if (data[i].is_blocked) { %>
                                            <input data-product-id="<%= data[i]._id%>" name="isBlocked" class="form-check-input toggle-is-blocked" type="checkbox" id="flexSwitchCheckChecked">
                                        <% } else { %>
                                            <input data-product-id="<%= data[i]._id%>" name="isBlocked" class="form-check-input toggle-is-blocked" type="checkbox" id="flexSwitchCheckChecked" checked>
                                        <% } %>
                                        <!-- <input onchange="(event) => toggleIsBlocked('<%= data[i]._id%>', event)" name="isBlocked" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> -->
                                        <!-- <input onchange="() => console.log('hai')" name="isBlocked" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> -->
                                        <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                                      </div>
                                    </form>
                            </div>
                        </div>
                
                
            </div>
            <% } %>
        </div>
    </div>
    <%-include('footer')-%>

    <script>
        const toggleIsBlocked = async (id, isBlocked) => {
            const urlBlockOrUnblockPart = isBlocked ? 'block' : 'unblock';

            // const response = await fetch(`/admin/products/${id}/${urlBlockOrUnblockPart}`, { method: 'POST' });
            const response = await fetch(`/admin/products/${id}/${urlBlockOrUnblockPart}`, { method: 'POST' });
            const resBody = await response.json();

            if (!resBody.isOk) {
                console.log('Some problem occurred. Please reload the page');
                alert('Some problem occurred. Please reload the page');
                return;
            }
            // Return if everything is ok
            return;
        }
        document.addEventListener('DOMContentLoaded', () => {
            const toggleIsBlockedEls = Array.from(document.querySelectorAll('.toggle-is-blocked'));
            toggleIsBlockedEls.forEach((el) => {
                el.addEventListener('change', (event) => {
                    const id = event.currentTarget.dataset.productId;
                    const isBlocked = !event.currentTarget.checked;
                    toggleIsBlocked(id, isBlocked);
                });
            });
        });
    </script>
    
</body>


<% if(locals.message) { %>
<script>
    Swal.fire({
//   position: 'top-end',
  icon: 'success',
  title: 'product created',
  showConfirmButton: false,
  timer: 1500
})


</script>
<% } %>
