<%-include('header')-%>
<style>
    .container{
width: 100%;
height: auto;
/* height: 100vh; */
background: #f0fff3;
display: flex;
align-items: center;
justify-content: center;

}
.coupon-card{
background: linear-gradient(135deg, #7158fe, #9d4de6);
color: #fff;
text-align: center;
padding: 40px 80px;
border-radius: 15px;
box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
position: relative;

}
.coupon-cardEx{
background: linear-gradient(135deg, #61569e, #8b878b);
color: #fff;
text-align: center;
padding: 40px 80px;
border-radius: 15px;
box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
position: relative;

}
.logo{
width: 80px;
border-radius: 8px;
margin-bottom: 20px;

}
.coupon-card h3{
font-size: 28px;
font-weight: 400;
line-height: 40px;

}
.coupon-card p{
font-size: 15px;

}
.coupon-row{
display: flex;
align-items: center;
margin: auto;
justify-content: center;
/* width: fit-content; */

}
#cpnCode{
border: 1px dashed #fff;
padding: 10px 20px;
border-right: 0;

}
#cpnBtn{
border: 1px solid #fff;
background: #fff;
padding: 10px 20px;
color: #7158fe;
cursor: pointer;
}
.circle1, .circle2{
background: #f0fff3;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: 50%;
transform: translateY(-50%);

}
.circle1{
left: -25px;
}
.circle2{
right: -25px;
}

</style>
<!-- Checkout Start -->
<div class="container-fluid">
    <form method="post" action="/account/checkout">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Select Billing Address</span></h5>
            <div class="bg-light p-30">
                <%if(addresss) {%>
                    <% for(i=0;i<addresss.address.length;i++) { %>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" value="<%=addresss.address[i]._id%>" name="address" id="<%=addresss.address[i]._id%>" required>
                                <label class="custom-control-label" for="<%=addresss.address[i]._id%>"><b><%=addresss.address[i].name%></b>
                                <P><%=addresss.address[i].full_address%></P>
                                <p><%=addresss.address[i].state%></p>
                                <p>Pin:<%=addresss.address[i].pin_code%></p>
                               <p>Phone no:<%=addresss.address[i].mobile_no%></p></label>
                            </div>
                        </div>
                    <% } %>
                <%}%>    
            </div>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Coupons</span></h5>
            <div id="couponinner" class="bg-light p-30 row">  
            </div>
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    <%if(cart) {%>
                        <%for(i=0;i<cart.products.length;i++) {%>
                            <div class="d-flex justify-content-between">
                                <p><%=cart.products[i].productid.product_name%> x <%=cart.products[i].quantity%></p>
                                <p>₹<%=cart.products[i].productid.price * cart.products[i].quantity%></p>
                            </div>
                        <%}%>
                    <%}%>
                    
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>₹<%=total%></h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Coupon offer</h6>
                        <h6 id="couponid" class="font-weight-medium">₹0</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <input style="display: none;" id="total" value="<%=total%>">
                        <h5 id="totalh5">₹<%=total%></h5>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="cash on delivery" class="custom-control-input" name="payment" id="cod">
                            <label class="custom-control-label" for="cod">Cash on delivery</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="online payment" class="custom-control-input" name="payment" id="onlinepayment" required>
                            <label class="custom-control-label" for="onlinepayment">Online Payment</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="wallet + online payment" class="custom-control-input" name="payment" id="onlinepayment+wallet" required>
                            <label class="custom-control-label" for="onlinepayment+wallet">Wallet + Online Payment</label>
                        </div>
                    </div>
                    <!-- <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div> -->
                    <!-- <button type="submit" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button> -->
                    <button id="pay-button" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
<!-- Checkout End -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    let couponType=""
    let couponAmount=0
    let couponActivated = ""
    let couponValueCheck = document.getElementById('total').value
    let totalV

    // totalV = document.getElementById('total').value*100
    console.log(document.getElementById('total').value*100)
    let options = {
       "key": "rzp_test_cLQpjxzEEr4RTn", 
       "amount": document.getElementById('total').value*100, 
       "currency": "INR",
       "name": "Online Payment",
       "description": "Pay & Checkout",
       "handler": function (response){
        console.log(response)
        //    alert("This step of Payment Succeeded");
        result()
       },
       "modal": { escape: false, ondismiss: function(){  } },
       "prefill": {
         "contact":"", 
         "name": "",  
         "email": ""
       },
    //   "notes" : {
    //      "description":"Best Course for SDE placements",
    //      "language":"Available in 4 major Languages JAVA, C/C++, Python, Javascript",
    //      "access":"This course have Lifetime Access"
    //    }, 
       "theme": {
           "color": "#ffd333"
       }
   };
   var razorpayObject = new Razorpay(options);
   console.log(razorpayObject);
   razorpayObject.on('payment.failed', function (response){
         console.log(response);
        //  alert("This step of Payment Failed");
        alertMsgF("Oops....Payment Failed, Please Try again!!!")
   });
     
   document.getElementById('pay-button').onclick = function(e){
    razorpayObject = new Razorpay(options);
    if(document.querySelector('input[name="payment"]:checked').value == null) {
        alertMsgF("Select a payment method!")
        return;
    }
    if(document.querySelector('input[name="address"]:checked').value == null) {
        alertMsgF("Select an address to continue!")
        return;
    }
    if(document.querySelector('input[name="payment"]:checked').value == "cash on delivery") {
        result()
        return;
    }
    if(document.querySelector('input[name="payment"]:checked').value == "online payment") {
        razorpayObject.open();
        e.preventDefault();
        return;
    }
    if(document.querySelector('input[name="payment"]:checked').value == "wallet + online payment") {
        checkWallet();
        razorpayObject.open();
        e.preventDefault();
        return;
    }
   }


   const checkWallet = async() => {
        const response = await fetch(`/account/checkout`,{ method: 'GET'});
        const resBody = await response.json();
   }


   const result = async() => {
    dataa = {
        total_amount: document.getElementById('total').value*100,
        coupon_type:couponType,
        coupon_amount:couponAmount,
        payment_method:document.querySelector('input[name="payment"]:checked').value,
        wallet_amount:0,
        offer:0,
        address:document.querySelector('input[name="address"]:checked').value
    }
        const response = await fetch(`/account/checkout`,{ method: 'POST',headers: {'Content-Type':'application/json'} ,body:JSON.stringify({data:dataa}) });
        const resBody = await response.json();
        if(resBody.popUp) {
            alertMsg("Your order has been Placed");
        }
        window.location.replace = "/account/orders";
   }
   function alertMsg(msg) {
        Swal.fire({
            icon: 'success',
            title: msg,
            showConfirmButton: false,
            timer: 1500
        })
    }

    const display_coupon = async() => {
        try{
            const response = await fetch(`/account/coupon`,{ method: 'GET'});
        const resBody = await response.json();
        x =''
        for(i=0;i<resBody.data.length;i++) {
        x = x + `<div class="col-6 mb-2" style="">
            <div class="coupon-card">
               <h3>${resBody.data[i].coupon_description}</h3>
                <di class="coupon-row">
                    <span id="cpnCode">${resBody.data[i].coupon_code}</span>
                    <Button onclick="couponCheck('${resBody.data[i].expire_date}','${resBody.data[i]._id}',${resBody.data[i].minimum_amount},'${resBody.data[i].coupon_type}',${resBody.data[i].coupon_value})" id="cpnBtn${resBody.data[i]._id}">Activate</Button>
                </di>
                <p>Valid Till:${resBody.data[i].expire_date}</p>
                <div class="circle1"></div>
                <div class="circle2"></div>
            </div>
        </div>`
    }
        document.getElementById('couponinner').innerHTML = x

        } catch(error) {
            console.log(error.message)
            // <span id="cpnBtn">Copy Code</span>
        }
        
   };

   function couponCheck(expire,id,minValue,cType,cAmount) {
    console.log(couponValueCheck,minValue < couponValueCheck)
    if(minValue > couponValueCheck) {
        alertMsgF(`You need to purchase minimum Rs.${minValue} to activate `)
        return
    }
    console.log(cType,cAmount)
    if(new Date(expire) < new Date) {
        alertMsgF(`This coupon is expired`)
        return
    }

    if(couponActivated !== "") {
        document.getElementById(couponActivated).innerText = 'Activate'
        document.getElementById(couponActivated).style.backgroundColor = 'white'
    }
    document.getElementById(`cpnBtn${id}`).innerText = 'Activated'
    document.getElementById(`cpnBtn${id}`).style.backgroundColor = 'green'
    couponType = cType
    couponAmount = cAmount
    couponActivated = `cpnBtn${id}`
    if(couponType == 'percentage') {
        document.getElementById('couponid').innerHTML =  `${couponAmount}%`
        document.getElementById('total').value =  couponValueCheck * (100 - couponAmount) /100
        options.amount = (couponValueCheck * (100 - couponAmount) /100) * 100
        // totalV = (couponValueCheck * (100 - couponAmount) /100) * 100
        document.getElementById('totalh5').innerHTML =  `₹${couponValueCheck * (100 - couponAmount) /100}`
    } else {
        document.getElementById('couponid').innerHTML = `₹${couponAmount}`
        document.getElementById('total').value =  couponValueCheck - couponAmount
        options.amount = (couponValueCheck - couponAmount) * 100
        // totalV = (couponValueCheck - couponAmount) * 100
        document.getElementById('totalh5').innerHTML =  `₹${couponValueCheck - couponAmount}`
    }
    
    
   }

   display_coupon();

   function alertMsgF(msg) {
        Swal.fire({
            icon: 'error',
            title: msg,
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>


<%-include('footer')-%>