<%-include('header')-%>
    <div style="display: flex;justify-content: center;">
      <% if(message) { %>
        <div style="display: flex;justify-content: center;">
        <div style="outline: 0 none;position: fixed;top: 10%;" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="mr-auto">gadget in</strong>
              </button>
            </div>
            <div class="toast-body">
                <%= message%>
            </div>
          </div>
        </div>
         <% } %>
      <!-- <p><%= message %></p> -->
    </div>
    <%if(popUp) {%>
      <script>
        var otpState = '<%= popUp %>'            
     </script>
    <div style="padding-top: 30px;padding-bottom: 30px;" class="container">
      <div style="display: flex;justify-content: center;" class="row justify-content-md-center">
          <div class="col-md-4 text-center">
            <div class="row">
              <div class="col-sm-12 mt-5 bgWhite">
                <div class="title">
                  Verify OTP
                </div>
                
                <form method="post" action="/verify-forget-otp" class="mt-5">
                  <input name="otp" class="otp" required>
                  <hr class="mt-4">
                <button type="submit" class='btn btn-primary btn-block mt-4 mb-4 customBtn'>Verify</button>
                </form>
                <!-- <form method="post" action="/re-sent-otp">
                  <button type="submit" id="otpresend" style="color: blue;border: none;background: none;pointer-events: none; cursor: default;">resent otp<span id="timer"></span></button>
                </form> -->
                
              </div>
            </div>
          </div>
      </div>
    </div>

    <%} else {%>
		<div class="container">
        
      <div style="padding: 20px; display: flex;justify-content: center;">
          
          <div style="padding: 20px;width: 50%;">
              <h5>Register</h5>
              <form method="post" action="/forget-password">

                  <div class="form-outline mb-4">
                      <input name="email" type="email" id="form2Example27" class="form-control" required/>
                      <label class="form-label" for="form2Example27">Email Id</label>
                    </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="form2Example27" class="form-control" minlength="5" required/>
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input name="forgetpassword" type="password" id="forgetpassword" class="form-control" minlength="5" required/>
                    <label class="form-label" for="forgetpassword">Forget Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">Send OTP</button>
                  </div>
                </form>

          </div>
      </div>
      
  </div>

<%}%>


		<%-include('footer')-%>

    <script>
       document.addEventListener("DOMContentLoaded", function(event){
        $('.toast').toast('show');
});


let sMin = 1; 
let time = sMin * 60; 
let countdown
console.log(otpState)
if(otpState) {
  countdown = setInterval(update, 1000)
}
// const timer = document.getElementById('timer')
// const otpresend = document.getElementById('otpresend')
function update() {
  let min = Math.floor(time / 60);
  let sec = time % 60;  
  sec = sec < 10 ? '0' + sec : sec;
  console.log(`${min}:${sec}`);
//   timer.innerHTML = `${min}:${sec}`
  time--;
  if(min == 0 && sec == 0) {
    clearInterval(countdown)
    // runScriptAfterCountdown();
  } else {
    countdown
  }
}

function runScriptAfterCountdown() {
  console.log('Countdown finished. Running your script...');
  otpresend.style.cursor = 'pointer'
  otpresend.style.pointerEvents = 'auto'
  // Put your script code here

}
    </script>