<%-include('header')-%>

<div class="container-fluid">
    <div class="row px-xl-5">


        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Your Account</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <a href="/account/profile">
                        <div class="d-flex justify-content-between">
                            <p>Profile</p>
                        </div>
                    </a>
                    <a href="/account/wishlist">
                        <div class="d-flex justify-content-between">
                            <p>Wishlist</p>
                        </div>
                    </a>
                    <a href="/account/address">
                        <div class="d-flex justify-content-between">
                            <p>Address</p>
                        </div>
                    </a>
                    <h6 class="mb-3">Orders</h6>
                    <a href="/account/wallet">
                        <div class="d-flex justify-content-between">
                            <p>Wallet</p>
                        </div>
                    </a>
                </div>
        
            </div>
        </div>

        
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Orders</span></h5>
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Time & Date</th>
                        <th>Order Value</th>
                        <th>Coupon Type & Value</th>
                        <th>More Info</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% if(data) { %>
                        <% for(i=0;i<data.orders.length;i++) { %>
                            <tr>
                                <td class="align-middle"><i class="fa fa-clock-o"></i><%=data.orders[i].date%></td>
                                <td id="" class="align-middle">₹ <%= data.orders[i].total_amount/100 %></td>
                                <td id="" class="align-middle"><%= data.orders[i].coupon_type %> <%= data.orders[i].coupon_amount %></td>
                                <td class="align-middle"><i class="fa fa-arrow-down" data-toggle="collapse" href="#collapse<%= i %>" role="button" aria-expanded="false" aria-controls="collapse<%= i %>" aria-hidden="true"></i><%=data.orders[i].products.length%></td>
                                <tr>
                                    <td colspan="4" class="p-0">
                                <div class="collapse multi-collapse" id="collapse<%= i %>">
                                    <div class="card card-body">
                                      
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="30%">Product</th>
                                                        <th width="15%">Unit Price</th>
                                                        <th width="10%">Quantity</th>
                                                        <th width="25%">Status</th>
                                                        <th width="10%" class="text-end">Total</th>
                                                        <th width="10%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for(j=0;j<data.orders[i].products.length;j++) { %>
                                                    <tr>
                                                        <td>
                                                            <a class="itemside">
                                                                <div class="left">
                                                                    <!-- <img src="/admin/imgs/items/3.jpg" width="40" height="40" class="img-xs" alt="Item"> -->
                                                                </div>
                                                                <div class="info"><%= data.orders[i].products[j].product_id.product_brand_name %>  <%= data.orders[i].products[j].product_id.product_name %></div>
                                                            </a>
                                                        </td>
                                                        <td> ₹<%= data.orders[i].products[j].product_id.price %> </td>
                                                        <td><%= data.orders[i].products[j].quantity %> </td>
                                                        <td> <%= data.orders[i].products[j].status %> </td>
                                                        <td class="text-end"> ₹<%- data.orders[i].products[j].product_id.price * data.orders[i].products[j].quantity %> </td>
                                                        <% if( data.orders[i].products[j].status === "shipped" || data.orders[i].products[j].status === "out for delivery") { %>
                                                            <td><button id="<%=data.orders[i].products[j].product_id._id%>" onclick="cancelOrder('<%=data.orders[i].products[j].product_id._id%>','<%=data.orders[i]._id%>','cancelled','<%=i%>','<%=j%>','<%- data.orders[i].products[j].product_id.price * data.orders[i].products[j].quantity %>','<%=data.orders[i].products[j].quantity %>','<%=data.orders[i].products[j].product_id.product_brand_name + data.orders[i].products[j].product_id.product_name %>')" type="button" class="btn btn-danger">Cancel</button></td>
                                                        <% } else if( data.orders[i].products[j].status === "delivered" && new Date() - new Date(data.orders[i].products[j].delivery_date) > 7) { %>
                                                            <td><button id="<%=data.orders[i].products[j].product_id._id%>" onclick="cancelOrder('<%=data.orders[i].products[j].product_id._id%>','<%=data.orders[i]._id%>','returned','<%=i%>','<%=j%>','<%- data.orders[i].products[j].product_id.price * data.orders[i].products[j].quantity %>','<%=data.orders[i].products[j].quantity %>','<%=data.orders[i].products[j].product_id.product_brand_name + data.orders[i].products[j].product_id.product_name %>')" type="button" class="btn btn-warning">Return</button></td>
                                                        <% } else { %>
                                                            <!-- <td><button type="button" class="btn btn-primary"><%= new Date() - new Date(data.orders[i].products[j].delivery_date) > 7 %></button></td> -->
                                                        <% } %>
                                                    </tr>
                                                    <%}%>
                                       </tbody>
                                                </table>
                                                </div>
                                                
                                    </div>
                                  </div>
                                  </td>
                                  </tr>
                            </tr>
                        <% } %>
                    <% } %>  
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const cancelOrder = async(productId,orderId,status,i,j,total,quantity,productName)=> {
        try {
            console.log(productId,orderId,status,i,j,total,quantity,productName)
        const response = await fetch(`/account/cancelorder/${orderId}`,{ method: 'POST',headers: {'Content-Type':'application/json'} ,body:JSON.stringify({productId:productId,orderId:orderId,status:status,i:i,j:j,total:Number(total),quantity:Number(quantity),productName:productName}) });
        const resBody = await response.json();
        alertMsg(resBody.popUp)
        document.getElementById(productId).style.display = "none";
        // document.getElementById("status").innerHTML = "cancelled";
        }catch(err) {
            console.log(err)
        }
    }

    function alertMsg(msg) {
        Swal.fire({
            icon: 'success',
            title: msg,
            showConfirmButton: false,
            timer: 1500
        })
    }
</script>

<%-include('footer')-%>