<%-include('header')-%>

<div class="container-fluid">
    <div class="row px-xl-5">


        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Your Account</span>
            </h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Profile</h6>
                    <a href="/account/wishlist">
                        <div class="d-flex justify-content-between">
                            <p>Wishlist</p>
                        </div>
                    </a>
                    <a href="/account/address">
                        <div class="d-flex justify-content-between">
                            <p>Address</p>
                        </div>
                    </a>
                    <a href="/account/orders">
                        <div class="d-flex justify-content-between">
                            <p>Orders</p>
                        </div>
                    </a>
                    <a href="/account/wallet">
                        <div class="d-flex justify-content-between">
                            <p>Wallet</p>
                        </div>
                    </a>
                </div>
        
            </div>
        </div>

        
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Billing Address</span></h5>
            <div class="bg-light p-30 mb-5">
                <form method="post" action="/account/profile">
                <div class="row">
                    
                    <div class="col-md-6 form-group">
                        <label>First Name</label>
                        <input name="first_name" class="form-control" type="text" value="<%=data.first_name%>">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Last Name</label>
                        <input name="last_name" class="form-control" type="text" value="<%=data.last_name%>">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input name="email_id" class="form-control" type="text" value="<%=data.email_id%>" disabled>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Mobile No</label>
                        <input name="mobile" class="form-control" type="number" value="<%=data.mobile%>">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Date of Birth</label>
                        <% var dateNFormated = data.birth_date; %>
                        <input min="1900-01-01" id="dateFormated" name="birth_date" class="form-control" type="date" value="">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" class="btn btn-primary px-3"><i class="fa fa-users mr-1"></i>Update</button>
                    </div>
                
                </div>
            </form>
            </div>

            
        </div>


        

    </div>
</div>


        <script>
            let datenow
            var getDate = "<%= dateNFormated  %>";
            const dateFormated = document.getElementById('dateFormated')
            getDate = convert(getDate)
            datenow = new Date(new Date().setFullYear(new Date().getFullYear() - 10))
            datenow = convert(datenow)
               dateFormated.setAttribute('value',getDate)
               dateFormated.setAttribute('max',datenow)
            console.log(datenow);


            function convert(str) {
                var date = new Date(str),
                    mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                    day = ("0" + date.getDate()).slice(-2);
                return [date.getFullYear(), mnth, day].join("-");
            }
        </script>

<%-include('footer')-%>